<svg style="height: 0">
    <defs>
        <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" x2="48" y1="0" y2="0">
            <stop offset="0%" class="stop1" />
            <stop offset="100%" class="stop2" />
        </linearGradient>
        <filter id="contour">
            <feTurbulence baseFrequency="0.005" numOctaves="1" seed="0" />
            <feComponentTransfer result="noise">
                <feFuncA
                    type="gamma"
                    amplitude="0.2"
                    exponent="0.7"
                    offset="0.4"
                />
            </feComponentTransfer>
            <feDiffuseLighting
                in="noise"
                lighting-color="white"
                surfaceScale="20"
                result="light"
            >
                <feDistantLight azimuth="45" elevation="45" />
            </feDiffuseLighting>
            <feComponentTransfer in="light">
                <feFuncR type="linear" slope="1.3" intercept="0.0" />
                <feFuncG type="linear" slope="1.3" intercept="0.0" />
                <feFuncB type="linear" slope="1.3" intercept="0.0" />
                <feFuncA type="linear" slope="1.3" intercept="0.0" />
            </feComponentTransfer>
        </filter>
        <filter id="inset-shadow">
            <feOffset dx='0.8' dy='0.8' />
            <feGaussianBlur stdDeviation='0.6' result='offset-blur' />
            <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />
            <feFlood flood-color='rgb(217, 210, 200)' flood-opacity='0.52' result='color' />
            <feComposite operator='in' in='color' in2='inverse' result='shadow' />
            <feComposite operator='over' in='shadow' in2='SourceGraphic' />
        </filter>
    </defs>
</svg>
<svg style="height: 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2" fill="#172f57">
    <defs>
        <g id="P0">
            <rect width="100%" height="100%" fill="none" />
            <circle cx="1" cy="0" r=".1" />
            <circle cx="1" cy="2" r=".1" />
            <circle cy="1" cx="0" r=".1" />
            <circle cy="1" cx="2" r=".1" />
        </g>
        <g id="P2">
            <rect width="100%" height="100%" fill="none" />
            <circle cx="1" cy="0" r=".3" />
            <circle cx="1" cy="2" r=".3" />
            <circle cy="1" cx="0" r=".3" />
            <circle cy="1" cx="2" r=".3" />
        </g>
        <g id="P4">
            <rect width="100%" height="100%" fill="none" />
            <circle cx="1" cy="0" r=".5" />
            <circle cx="1" cy="2" r=".5" />
            <circle cy="1" cx="0" r=".5" />
            <circle cy="1" cx="2" r=".5" />
        </g>
        <g id="P6">
            <rect width="100%" height="100%" fill="none" />
            <circle cx="1" cy="0" r=".7" />
            <circle cx="1" cy="2" r=".7" />
            <circle cy="1" cx="0" r=".7" />
            <circle cy="1" cx="2" r=".7" />
        </g>
        <g id="P8">
            <rect width="100%" height="100%" fill="none" />
            <circle cx="1" cy="0" r=".9" />
            <circle cx="1" cy="2" r=".9" />
            <circle cy="1" cx="0" r=".9" />
            <circle cy="1" cx="2" r=".9" />
        </g>
        <filter
            id="halftone"
            x="0"
            y="0"
            width="100%"
            height="100%"
            color-interpolation-filters="sRGB"
        >
            <feColorMatrix
                type="matrix"
                values="0 0 0 0 0
                        0 0 0 0 0
                        0 0 0 0 0
                        -0.21 -0.72 -0.07 1 0"
                result="A"
            />
            <feImage width="4" height="4" href="#P0" />
            <feTile result="T0" />
            <feImage width="4" height="4" href="#P2" />
            <feTile result="T2" />
            <feImage width="4" height="4" href="#P4" />
            <feTile result="T4" />
            <feImage width="4" height="4" href="#P6" />
            <feTile result="T6" />
            <feImage width="4" height="4" href="#P8" />
            <feTile result="T8" />
            <feComponentTransfer in="A">
                <feFuncA type="table" tableValues="0 1 1 1 1 1"></feFuncA>
            </feComponentTransfer>
            <feComposite operator="in" in="T0" result="L0" />
            <feComponentTransfer in="A">
                <feFuncA type="table" tableValues="0 0 1 1 1 1"></feFuncA>
            </feComponentTransfer>
            <feComposite operator="in" in="T2" result="L2" />
            <feComponentTransfer in="A">
                <feFuncA type="table" tableValues="0 0 0 1 1 1"></feFuncA>
            </feComponentTransfer>
            <feComposite operator="in" in="T4" result="L4" />
            <feComponentTransfer in="A">
                <feFuncA type="table" tableValues="0 0 0 0 1 1"></feFuncA>
            </feComponentTransfer>
            <feComposite operator="in" in="T6" result="L6" />
            <feComponentTransfer in="A">
                <feFuncA type="table" tableValues="0 0 0 0 0 1"></feFuncA>
            </feComponentTransfer>
            <feComposite operator="in" in="T8" result="L8" />
            <feMerge>
                <feMergeNode in="L0"></feMergeNode>
                <feMergeNode in="L2"></feMergeNode>
                <feMergeNode in="L4"></feMergeNode>
                <feMergeNode in="L6"></feMergeNode>
                <feMergeNode in="L8"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
</svg>
