<a id="skip-to-main" href="#main" aria-label="Skip to main content" >Skip to main content</a>
<svg class="tile" width="100%" height="100%" focusable="false" aria-hidden="true">
    <rect x="0" y="0" width="100%" height="100%" filter="url(#contour)" />
</svg>
<svg class="logo-svg" viewBox="0 0 48 24" preserveAspectRatio="xMidYMid slice" focusable="false" aria-hidden="true">
    <g stroke-width="4" stroke-linejoin="round" paint-order="stroke" filter="url(#inset-shadow)" fill="url(#gradient)">
        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
        <path d="M13 7H11.5v4.5h-4.5v1.5h6z"></path>
        <text x="18.5" y="22" text-anchor="start" filter="url(#inset-shadow)">9am</text>
    </g>
</svg>
<h1 class="logo">9am</h1>
