@import url('./reset.css');

/* common */
:root {
    --font: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --s-1: 8px;
    --s-2: 16px;
    --s-3: 24px;
    --color-bg: #EFEEEE;
    --color-dark: #24292F;
    --color-normal: dimgrey;
    --color-light: whitesmoke;
    --shadow-ele-t: 8px 8px 24px rgb(217, 210, 200, 0.52);
    --shadow-ele-b: -8px -8px 24px rgb(255, 255, 255, 0.84);
    --border-ele: 1px solid rgba(255, 255, 255, 0.2);
    --banner-size: 120px;
    --stop-1: dimgrey;
    --stop-2: dimgrey;
    --article-min-width: 250px;
}
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    background-image: url(../img/bg.svg);
    background-color: var(--color-bg);
    color: var(--color-dark);
}
header, footer {
    flex: 0 0 auto;
    position: relative;
    height: var(--banner-size);
    background-color: var(--color-light);
    text-align: center;
}
main {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--article-min-width), 1fr));
    gap: calc(var(--s-3) * 2);
    padding: calc(var(--s-3) * 2);
    align-self: center;
    width: min(1512px, 100%);
}
header .tile {
    position: relative;
    z-index: 1;
}
footer {
    margin-top: auto;
}
a {
    display: inline-block;
    color: var(--color-dark);
    text-decoration-line: none;
}
a:hover {
    text-decoration-line: underline;
}
.tile {
    fill: var(--color-bg);
}
.logo-svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    max-width: 200px;
    font-size: small;
    font-weight: 700;
    font-family: var(--font);
    fill: var(--color-normal);
    stroke: var(--color-bg);
    user-select: none;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
}
#skip-to-main {
    position: absolute;
    top: -100%;
    z-index: 999;
    background-color: var(--color-dark);
    color: white;
    display: block;
    width: 100%;
    text-align: center;
}
#skip-to-main:focus {
    top: 0;
}
.elevation {
    border: var(--border-ele);
    box-shadow: var(--shadow-ele-t), var(--shadow-ele-b);
}
.button {
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--s-1);
    border: var(--border-ele);
    background-image: url(../img/bg.svg);
    background-color: var(--color-bg);
    box-shadow: var(--shadow-ele-t), var(--shadow-ele-b);
    color: var(--color-normal);
}
.button:active:hover {
    box-shadow: inset var(--shadow-ele-t), inset var(--shadow-ele-b);
    color: var(--color-dark);
}
.button .icon {
    fill: url(#gradient);
}
.button:active:hover .icon {
    fill: var(--color-dark);
}
.button.small {
    padding: 0 var(--s-1);
    font-size: x-small;
    border-radius: 4px;
}
.button.medium {
    padding: var(--s-1);
    font-size: medium;
}
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}
footer .button-group {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    line-height: 0;
    width: 100%;
}
.button-group .button {
    margin: 0 var(--s-3) var(--s-3) 0;
}
.button-group .button:first-child {
    margin-left: var(--s-3);
}
.button-group .button:last-child {
    margin-left: auto;
}
.button-group em {
    display: none;
}
footer .hits {
    position: absolute;
    top: var(--s-3);
    right: var(--s-3);
    width: 0;
}
.stop1 { stop-color: hwb(var(--stop-1) 40% 50%); }
.stop2 { stop-color: hwb(var(--stop-2) 40% 50%); }
.victor-nojs {
    filter: url(#halftone);
}
